.header {
  border-bottom: 1px solid $border-header;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header__nav {
  @include flexGap(93px);
  align-items: center;
}

